<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacWhen">
      <h2 data-cy="cerbacWhenDetailsHeading"><span cplTranslate="cerberuxApp.cerbacWhen.detail.title">Cerbac When</span></h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacWhen.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhen.whenCondition">When Condition</span></dt>
        <dd>
          <span cplTranslate="{{ 'cerberuxApp.ConditionEnum.' + cerbacWhen.whenCondition }}">{{ cerbacWhen.whenCondition }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhen.value">Value</span></dt>
        <dd>
          <span>{{ cerbacWhen.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-when', cerbacWhen.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
