<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacWhere">
      <h2 data-cy="cerbacWhereDetailsHeading"><span cplTranslate="cerberuxApp.cerbacWhere.detail.title">Cerbac Where</span></h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacWhere.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhere.origin">Origin</span></dt>
        <dd>
          <div *ngIf="cerbacWhere.origin">
            <a [routerLink]="['/cerbac-where-origin', cerbacWhere.origin?.id, 'view']">{{ cerbacWhere.origin?.value }}</a>
          </div>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhere.target">Target</span></dt>
        <dd>
          <div *ngIf="cerbacWhere.target">
            <a [routerLink]="['/cerbac-where-target', cerbacWhere.target?.id, 'view']">{{ cerbacWhere.target?.value }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-where', cerbacWhere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
