<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacWhat">
      <h2 data-cy="cerbacWhatDetailsHeading"><span cplTranslate="cerberuxApp.cerbacWhat.detail.title">Cerbac What</span></h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacWhat.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhat.name">Name</span></dt>
        <dd>
          <span>{{ cerbacWhat.name }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhat.cerbacEntity">Cerbac Entity</span></dt>
        <dd>
          <div *ngIf="cerbacWhat.cerbacEntity">
            <a [routerLink]="['/cerbac-entity', cerbacWhat.cerbacEntity?.id, 'view']">{{ cerbacWhat.cerbacEntity?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-what', cerbacWhat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
