<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacWhatAction">
      <h2 data-cy="cerbacWhatActionDetailsHeading">
        <span cplTranslate="cerberuxApp.cerbacWhatAction.detail.title">Cerbac What Action</span>
      </h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacWhatAction.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhatAction.cebacWhat">Cebac What</span></dt>
        <dd>
          <div *ngIf="cerbacWhatAction.cebacWhat">
            <a [routerLink]="['/cerbac-what', cerbacWhatAction.cebacWhat?.id, 'view']">{{ cerbacWhatAction.cebacWhat?.name }}</a>
          </div>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhatAction.cebacAction">Cebac Action</span></dt>
        <dd>
          <div *ngIf="cerbacWhatAction.cebacAction">
            <a [routerLink]="['/cerbac-action', cerbacWhatAction.cebacAction?.id, 'view']">{{ cerbacWhatAction.cebacAction?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-what-action', cerbacWhatAction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
