<div>
  <h2 id="page-heading" data-cy="CerbacTypeHeading">
    <span cplTranslate="cerberuxApp.cerbacType.home.title">Cerbac Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cerbac-type"
        [routerLink]="['/cerbac-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacType.home.createLabel"> Create a new Cerbac Type </span>
      </button>
    </div>
  </h2>

  <cpl-alert-error></cpl-alert-error>

  <cpl-alert></cpl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cerbacTypes?.length === 0">
    <span cplTranslate="cerberuxApp.cerbacType.home.notFound">No cerbacTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cerbacTypes && cerbacTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span cplTranslate="global.field.id">ID</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacType.name">Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cerbacType of cerbacTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cerbac-type', cerbacType.id, 'view']">{{ cerbacType.id }}</a>
          </td>
          <td>{{ cerbacType.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cerbac-type', cerbacType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cerbac-type', cerbacType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cerbacType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
