<div class="header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <!--  <p class="dialog-message">{{ data.message }}</p>-->

  <div *ngIf="data.message?.length" class="alert alert-danger" role="alert">
    <ul class="alert-message-list">
      <li *ngFor="let error of data.message" class="alert-message">{{ error }}</li>
    </ul>
  </div>

</div>
<div mat-dialog-actions>
  <button class="btn btn-cancel" (click)="cancel()">{{ data.cancelText }}</button>
  <button class="btn btn-primary" (click)="addWhere()">Add Where</button>
</div>
