<div>
  <h2 id="page-heading" data-cy="CerbacPolicyHeading">
    <span cplTranslate="cerberuxApp.cerbacPolicy.home.title">Cerbac Policies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacPolicy.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cerbac-policy"
        [routerLink]="['/cerbac-policy/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacPolicy.home.createLabel"> Create a new Cerbac Policy </span>
      </button>
    </div>
  </h2>

  <cpl-alert-error></cpl-alert-error>

  <cpl-alert></cpl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cerbacPolicies?.length === 0">
    <span cplTranslate="cerberuxApp.cerbacPolicy.home.notFound">No cerbacPolicies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cerbacPolicies && cerbacPolicies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span cplTranslate="global.field.id">ID</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacPolicy.pid">Pid</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacPolicy.priority">Priority</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cerbacPolicy of cerbacPolicies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cerbac-policy', cerbacPolicy.id, 'view']">{{ cerbacPolicy.id }}</a>
          </td>
          <td>{{ cerbacPolicy.pid }}</td>
          <td>{{ cerbacPolicy.priority }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cerbac-policy', cerbacPolicy.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cerbac-policy', cerbacPolicy.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cerbacPolicy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
