<div class="stepWrapper">


  <div class="row">
    <div class="col-md-7">
      <form [formGroup]="policyTemplateFG">
      <mat-form-field appearance="outline">
        <mat-label><span class="h5">Select Policy Template</span></mat-label>
        <mat-select formControlName="templateCtrl">
          <mat-option>Default</mat-option>
          <mat-option *ngFor="let template of templates" [value]="template">{{template}}</mat-option>
        </mat-select>
      </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="card border-success border-2">
        <form [formGroup]="cbRulesForm">

          <div class="card-header">
            <div class="row">
              <div class="col-md-6"> <h5> iCerberux Policy Editor</h5></div>
              <div class="col-md-6 float-right">
                  <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
                  <button mat-raised-button color="primary" matStepperNext>Finish</button>
              </div>
            </div>
          </div>

          <div class="card-body">
                <div class="form-group row mt-2">
                  <label for="field_sid" class="col-sm-4 col-form-label">Sid:</label>
                  <div class="col-sm-5">
                    <input type="text" name="isBase" id="field_sid"  class="form-control"
                           data-cy="pid" name="pid" formControlName="sid" />
                    <small>Enter Sid: Statement Id</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">Type:</label>
                  <div class="col-sm-8 mt-2">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBAPlus" value="A+">
                      <label class="form-check-label" for="typeRBAPlus"><span style="font-weight:600;">A+</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBAMinus" value="A-">
                      <label class="form-check-label" for="typeRBAMinus"><span style="font-weight:600;">A-</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBOPlus" value="O+">
                      <label class="form-check-label" for="typeRBOPlus"><span style="font-weight:600;">O+</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBOMinus" value="O-">
                      <label class="form-check-label" for="typeRBOMinus"><span style="font-weight:600;">O-</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBDPlus" value="D+">
                      <label class="form-check-label" for="typeRBDPlus"><span style="font-weight:600;">D+</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="type" name="type" id="typeRBDMinus" value="D-">
                      <label class="form-check-label" for="typeRBDMinus"><span style="font-weight:600;">D-</span></label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="field_who" class="col-sm-4 col-form-label">Who:</label>
                  <div class="col-sm-5">
                    <select class="form-control" id="field_who" data-cy="who" name="who" formControlName="who">
                      <option [ngValue]="null"></option>
                      <option [ngValue]="whoOption" *ngFor="let whoOption of whoEntities">
                        {{ whoOption.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <button type="submit" (click)="addWhoAttributes()" class="btn btn-outline-primary">Attributes</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="field_what" class="col-sm-4 col-form-label">What:</label>
                  <div class="col-sm-5">
                    <select class="form-control" id="field_what" data-cy="what" name="what" formControlName="what">
                      <option [ngValue]="null"></option>
                      <option [ngValue]="whatOption" *ngFor="let whatOption of whatEntities">
                        {{ whatOption.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <button type="submit" (click)="addWhatAttributes()" class="btn btn-outline-primary">Attributes</button>
                  </div>
                </div>
                <!-- Action -->
                <div class="form-group row">
                  <label for="field_action" class="col-sm-4 col-form-label">Action:</label>
                  <div class="col-sm-5">
                    <select class="form-control" id="field_action" data-cy="action" name="action"
                            formControlName="action" multiple>
<!--                      <option [ngValue]="null"></option>-->
                      <option [ngValue]="actionOption" *ngFor="let actionOption of actions">
                        {{ actionOption.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <!-- Environment attributes -->
                <div class="form-group row">
                  <label for="field_who" class="col-sm-4 col-form-label">Environment:</label>
                  <div class="col-sm-8 mt-2">
                    <button class="btn btn-group-sm btn-secondary" (click)="addWhyClicked()">Why</button>
                    <button class="btn btn-group-sm btn-secondary" (click)="addWhenClicked()">When</button>
                    <button class="btn btn-group-sm btn-secondary" (click)="addWhereClicked()">Where</button>
                    <button class="btn btn-group-sm btn-secondary" (click)="addHowClicked()">How</button>
                  </div>
                </div>
          </div>
          <div class="card-footer border-success text-center">
                <button type="submit" class="btn btn-info" (click)="previewClicked()"
                        [disabled]="!cbRulesForm.valid">Preview Policy</button>
                <button type="submit" class="btn btn-success" (click)="addRuleClicked()"
                        [disabled]="!cbRulesForm.valid">Add Policy</button>
          </div>

        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card border-primary border-2">
        <h6 class="card-header text-center border-primary">Policy Table View</h6>
        <div class="card-body">

          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="sid">
              <th mat-header-cell *matHeaderCellDef> SID</th>
              <td mat-cell *matCellDef="let row"> {{row.sid}} </td>
            </ng-container>

            <ng-container matColumnDef="rule">
              <th mat-header-cell *matHeaderCellDef > Rule </th>
              <td mat-cell *matCellDef="let row"> {{row.rule}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button class="icon-button-small" color="primary" (click)="onEditPolicyRule(row)"
                        title="Edit Policy">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="icon-button-small" color="danger" (click)="onDeletePolicyRuleConfirm(row)"
                        title="Delete Policy">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i=index; columns: displayedColumns;"
                (click)="policyRuleSelected(i, row.id)" class="select-row">
            </tr>

          </table>

          <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

        </div>
      </div>
      <div class="row float-right mt-2">
        <div class="col-md-12">
          <button mat-raised-button color="primary">Save Policies</button>
        </div>
      </div>
    </div>
  </div>

</div>
