<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="cpl-cerbac-entity-prop-heading"
        data-cy="CerbacEntityPropCreateUpdateHeading"
        cplTranslate="cerberuxApp.cerbacEntityProp.home.createOrEditLabel"
      >
        Create or edit a Cerbac Entity Prop
      </h2>

      <div>
        <cpl-alert-error></cpl-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" cplTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" cplTranslate="cerberuxApp.cerbacEntityProp.propName" for="field_propName">Prop Name</label>
          <input type="text" class="form-control" name="propName" id="field_propName" data-cy="propName" formControlName="propName" />
          <div *ngIf="editForm.get('propName')!.invalid && (editForm.get('propName')!.dirty || editForm.get('propName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('propName')?.errors?.required"
              cplTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" cplTranslate="cerberuxApp.cerbacEntityProp.cerbacEntity" for="field_cerbacEntity"
            >Cerbac Entity</label
          >
          <select class="form-control" id="field_cerbacEntity" data-cy="cerbacEntity" name="cerbacEntity" formControlName="cerbacEntity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                cerbacEntityOption.id === editForm.get('cerbacEntity')!.value?.id ? editForm.get('cerbacEntity')!.value : cerbacEntityOption
              "
              *ngFor="let cerbacEntityOption of cerbacEntitiesSharedCollection; trackBy: trackCerbacEntityById"
            >
              {{ cerbacEntityOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span cplTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span cplTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
