<div>
  <h2 id="page-heading" data-cy="CerbacWhoPropHeading">
    <span cplTranslate="cerberuxApp.cerbacWhoProp.home.title">Cerbac Who Props</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacWhoProp.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cerbac-who-prop"
        [routerLink]="['/cerbac-who-prop/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacWhoProp.home.createLabel"> Create a new Cerbac Who Prop </span>
      </button>
    </div>
  </h2>

  <cpl-alert-error></cpl-alert-error>

  <cpl-alert></cpl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cerbacWhoProps?.length === 0">
    <span cplTranslate="cerberuxApp.cerbacWhoProp.home.notFound">No cerbacWhoProps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cerbacWhoProps && cerbacWhoProps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span cplTranslate="global.field.id">ID</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacWhoProp.name">Name</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacWhoProp.value">Value</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacWhoProp.condition">Condition</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacWhoProp.entityProperty">Entity Property</span></th>
          <th scope="col"><span cplTranslate="cerberuxApp.cerbacWhoProp.policyRule">Policy Rule</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cerbacWhoProp of cerbacWhoProps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cerbac-who-prop', cerbacWhoProp.id, 'view']">{{ cerbacWhoProp.id }}</a>
          </td>
          <td>{{ cerbacWhoProp.name }}</td>
          <td>{{ cerbacWhoProp.value }}</td>
          <td cplTranslate="{{ 'cerberuxApp.ConditionEnum.' + cerbacWhoProp.condition }}">{{ cerbacWhoProp.condition }}</td>
          <td>
            <div *ngIf="cerbacWhoProp.entityProperty">
              <a [routerLink]="['/cerbac-entity-prop', cerbacWhoProp.entityProperty?.id, 'view']">{{
                cerbacWhoProp.entityProperty?.propName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cerbacWhoProp.policyRule">
              <a [routerLink]="['/cerbac-policy-rule', cerbacWhoProp.policyRule?.id, 'view']">{{ cerbacWhoProp.policyRule?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cerbac-who-prop', cerbacWhoProp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cerbac-who-prop', cerbacWhoProp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cerbacWhoProp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
