<div>
  <h2 id="page-heading" data-cy="CerbacEntityPropHeading">
    <span cplTranslate="cerberuxApp.cerbacEntityProp.home.title">Cerbac Entity Props</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacEntityProp.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cerbac-entity-prop"
        [routerLink]="['/cerbac-entity-prop/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacEntityProp.home.createLabel"> Create a new Cerbac Entity Prop </span>
      </button>
    </div>
  </h2>

  <cpl-alert-error></cpl-alert-error>

  <cpl-alert></cpl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cerbacEntityProps?.length === 0">
    <span cplTranslate="cerberuxApp.cerbacEntityProp.home.notFound">No cerbacEntityProps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cerbacEntityProps && cerbacEntityProps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr cplSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" cplSortBy="id"><span cplTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" cplSortBy="propName">
            <span cplTranslate="cerberuxApp.cerbacEntityProp.propName">Prop Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" cplSortBy="cerbacEntity.name">
            <span cplTranslate="cerberuxApp.cerbacEntityProp.cerbacEntity">Cerbac Entity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cerbacEntityProp of cerbacEntityProps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cerbac-entity-prop', cerbacEntityProp.id, 'view']">{{ cerbacEntityProp.id }}</a>
          </td>
          <td>{{ cerbacEntityProp.propName }}</td>
          <td>
            <div *ngIf="cerbacEntityProp.cerbacEntity">
              <a [routerLink]="['/cerbac-entity', cerbacEntityProp.cerbacEntity?.id, 'view']">{{ cerbacEntityProp.cerbacEntity?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cerbac-entity-prop', cerbacEntityProp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cerbac-entity-prop', cerbacEntityProp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cerbacEntityProp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cerbacEntityProps && cerbacEntityProps.length > 0">
    <div class="row justify-content-center">
      <cpl-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></cpl-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
