<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacEntity">
      <h2 data-cy="cerbacEntityDetailsHeading"><span cplTranslate="cerberuxApp.cerbacEntity.detail.title">Cerbac Entity</span></h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacEntity.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacEntity.name">Name</span></dt>
        <dd>
          <span>{{ cerbacEntity.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-entity', cerbacEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
