<div>
  <h2 id="page-heading" data-cy="CerbacEntityHeading">
    <span cplTranslate="cerberuxApp.cerbacEntity.home.title">Cerbac Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacEntity.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cerbac-entity"
        [routerLink]="['/cerbac-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span cplTranslate="cerberuxApp.cerbacEntity.home.createLabel"> Create a new Cerbac Entity </span>
      </button>
    </div>
  </h2>

  <cpl-alert-error></cpl-alert-error>

  <cpl-alert></cpl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cerbacEntities?.length === 0">
    <span cplTranslate="cerberuxApp.cerbacEntity.home.notFound">No cerbacEntities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cerbacEntities && cerbacEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr cplSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" cplSortBy="id"><span cplTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" cplSortBy="name">
            <span cplTranslate="cerberuxApp.cerbacEntity.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cerbacEntity of cerbacEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cerbac-entity', cerbacEntity.id, 'view']">{{ cerbacEntity.id }}</a>
          </td>
          <td>{{ cerbacEntity.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cerbac-entity', cerbacEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cerbac-entity', cerbacEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cerbacEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" cplTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cerbacEntities && cerbacEntities.length > 0">
    <div class="row justify-content-center">
      <cpl-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></cpl-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
