<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cerbacWhereOrigin">
      <h2 data-cy="cerbacWhereOriginDetailsHeading">
        <span cplTranslate="cerberuxApp.cerbacWhereOrigin.detail.title">Cerbac Where Origin</span>
      </h2>

      <hr />

      <cpl-alert-error></cpl-alert-error>

      <cpl-alert></cpl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span cplTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cerbacWhereOrigin.id }}</span>
        </dd>
        <dt><span cplTranslate="cerberuxApp.cerbacWhereOrigin.value">Value</span></dt>
        <dd>
          <span>{{ cerbacWhereOrigin.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span cplTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cerbac-where-origin', cerbacWhereOrigin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span cplTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
